body{
	background: url("../img/Artboard 1.png")  no-repeat center;
	background-size: 130%;
	font-family: "Montserrat", sans-serif;
}

.navbar-default{
	background-color: rgba(0,0,0,0.45);
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	padding-right: 50px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #cddc29;
}


@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.venue h3{
	text-align: center;
	color: #cddc29;
	font-size: 35px;
	margin-bottom: 30px;
	letter-spacing: 3px;
}

.venue-button{
	background-color: #dce4e6;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}


.venue-button:hover{
	color: #cddc29;
}

.venue-button h4{
	margin-bottom: 3px;
}

.footer{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	margin-top: 15%;
	padding-bottom: 10%;
}

.footer h3{
	color: white;
	font-size: 15px;
}

.footer:after{
	 content: " "; 
    display: block;
    clear: both;
}

.venue-detail{
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	padding-left: 80px;
	padding-right: 80px;
}

.venue-detail p{
	font-weight: 400;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


.venue-detail button{
	 background: #029a95; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#029a95,#087590); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#029a95,#087590); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#029a95,#087590); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#029a95,#087590); /* Standard syntax */
	color: white;
	border-radius: 10px;
	border-color: transparent;
	padding: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	margin:0 auto;
	margin-top: 30px;
}

.close{
	position: absolute;
	top: 7%;
	left: 87%;
}

.back{
	position: absolute;
	top: 7%;
	left: 4%;
}

.details{
	text-align: center;
	background: #34a9a2;
	padding: 10px;
	border-radius: 10px;
	color: white;
	}

.green {
	color: #bbd637;
}
