body{
	background: url("../img/Artboard-1.jpg")  no-repeat center;
	background-size: 130%;
	font-family: "Montserrat", sans-serif;
}

.navbar-default{
	background-color: rgba(0,0,0,0.45);
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	color: white;
	padding-right: 50px;
}

.iplay-blackbutton{
	color: white;
	background-color: rgba(0,0,0,0.7);
	border:none;
	border-radius: 	10px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.iplay-blackbutton:hover{
	color: 	#cddc29;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #cddc29;
}

.info {
	text-align: center;
	margin-top: 50px;
}
.info h3{
	color: white;
	font-size: 15px;
	margin-bottom: 30px;
	text-align: center;
}

.info input{
	margin-bottom: 20px;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.7);
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.venue a{
	color: #333;
	text-decoration: none;
}

.venue h3{
	text-align: center;
	color: #cddc29;
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 30px;
	letter-spacing: 3px;
}

.venue-button{
	background-color: #dce4e6;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}


.venue-button:hover{
	color: #cddc29;
}

.venue-button h4{
	margin-bottom: 0px;
	margin-top: 2px;
	font-size: 16px;
}

.venue-button p{
	margin-bottom: 0px;
	font-size: 12px;
}

.footer{
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: white;
	margin-top: 15%;
}

.footer h3{
	color: white;
	font-size: 15px;
}

.footer p{
	margin-top: 30px;
	font-weight: lighter;
	font-size: 10px;

}

.footer img{
	width: 40px !important;
}

.footer:after{
	 content: " "; 
    display: block;
    clear: both;
}

.details h4{

}

.venue-detail{
	background-color: white;
	border-radius: 10px;
	padding: 30px;
	padding-left: 80px;
	padding-right: 80px;
	margin-top: 80px;
	padding-top: 5px;
}

.venue-detail p{
	font-weight: 400;
}


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


.venue-detail button{
	 background: #029a95; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#029a95,#087590); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#029a95,#087590); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#029a95,#087590); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#029a95,#087590); /* Standard syntax */
	color: white;
	border-radius: 10px;
	border-color: transparent;
	padding: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	margin:0 auto;
	margin-top: 30px;
}

.close{
	position: absolute;
	top: 15%;
	left: 87%;
	opacity: 0.7;
}

.close:hover{
	opacity: 1;
}

.back{
	position: absolute;
	top: 16%;
	left: 4%;
}

.details{
	text-align: center;
	background: #34a9a2;
	padding: 5px;
	border-radius: 10px;
	color: white;
	margin-top: 90px;
	}

.details p{
	font-size: 15px;
}

.green {
	color: #bbd637;
}



.left{
 float: left; 
 width: 7%;
}

.internal{
 height: 100%;
 text-align: center;
 border: 1px solid black;
 display: inline-block;
}

.center{
 float: left; 
 width: 85%;
/* height: 200px;
 border: 1px solid black;*/
 margin: 1px;
 overflow: hidden;
 /*will change this to hidden later to deny scolling to user*/
 white-space: nowrap;
}

.right{
 float: right; 
 width: 7%;
}

#content button{
	display: inline;
	background:transparent;
	color: #333;
	border:1px solid #d4d4d4;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 5px;
	margin-right: 5px;
	padding:11px;
	font-size: 11px;
}

.unavailable {
	background: #808285 !important;
	color: white!important;
}

.full {
	background: #ef4545 !important;
	color: white!important;
}

.contact-details:after{
	margin-top: 25px;
	content:' ';
	display: block;
	border: 0.15px solid white;

}

.venue-detail h3{
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 5px;

	
}

.venue-detail a{
	text-decoration: none;
}

.venue-detail button:hover{
	color: #cddc29;
}

:focus{
	outline:none;
}

.nav>li>a>img{
	max-width: 50px;
}

@media (min-width: 768px) {


.navbar-nav.navbar-center{

	margin-top: 7px;
	z-index: 100;
}

.navbar-right{
	margin-top: 3px;
}

}

.login-box{
	background-color: rgba(205,220,41,0.81);
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	margin-top: 40px;
}

.login-box h4{
	color: white;
	margin-bottom: 20px;
}

.login-box input{
	width: 80%;
	border:none;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 20px;
}

.login-box p{
	font-size: 12px;
	margin-top: 10px;
}

.login-box button{
	background-color: #2d3814;
	color: white;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 2px;
	font-size: 14px;
	border:none;
}

.login-box button:hover{
	color: #cddc29;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	color: white;
	background-color: transparent;
}

.green-box{
	background-color: rgba(205,220,41,0.81);
	border-radius: 10px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
	
.booking-box {	
	padding: 20px;
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 40px;
}

.booking-box th{
	padding-right: 58px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.booking-box tr{
	border-bottom: 1px solid #333;
}
.booking-box tr:last-child{
	border-bottom: none;
}


.booking-box th:last-child{
	padding-right: 0px;
}


.booking-box button{
	background-color: #2d3814;
	color: white;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	letter-spacing: 2px;
	font-size: 14px;
	border:none;
}

.booking-box button:hover{
	color: #cddc29;
}

.booking-box p{
	color: #ef4545;
	margin-bottom: 20px;
}

.booking-box h3{
	text-align: left!important;
	color: #333;
	letter-spacing: 0px;

}

 .cancelled {
	color: #ef4545;
	letter-spacing: 2px;
	text-align: center;
}
.booking-box table{
	margin-bottom: 30px;
}

.booking-box>.contact-query{
	margin-top: 20px;
	color: #333;
}

.booking-box tr:last-child{
	border-bottom: none;
}

#cancel-query {
	background-color: #2d3814;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	display: none;
}

#cancel-query span{
	padding-right: 10px;
	color: #cddc29;
}

#cancel-query button {
	color: #2d3814;
	border-radius: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	border:none;
	background-color:#cddc29; 
}

#cancel-query button:hover{
	color: white;
}

#cancel-ask{
	display: none;
}

#cancel-confirm{
	display: none;
}

.dropdown-menu{
	background-color: #aed136;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-color: transparent;
	color: white;
}

.line-bottom{
	border-bottom: 0.25px solid #333;
}

.rating {
	color: #34a9a2;
}

.event{
	background-color: white;

	margin-top: 80px;
	border-radius: 10px;
	padding-right: 5px;
	padding-left: 20px;
	padding-bottom: 15px;
}

.event-nav h4{
	font-size: 12px;
	text-align: center;
}

.event-nav{
	border:1px solid #cecece;
	border-radius: 5px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #333;
}

.event-nav a{
	color: #333;
}

.highlight {
	color: white;
	background-color: #cddc29;
}

.event-nav a:hover{
	color: #333;
}

.event-nav:hover{
	color: white;
	background-color: #cddc29;
}

.event-details{
	margin-top: 30px;
	font-weight: 400;
}

.event-details h5{
	margin-top: 20px;
	font-weight: normal
}

#standing {
	padding-left: 20px;
}

#standing table {
	font-weight: light;
	padding: 10px;
	font-size: 10px;
}

#standing th{
	padding-right: 45px;
	padding-bottom: 20px;
}

.about-iamplay img{
	margin: 0 auto;
	display: block;
}

.about-iamplay{
	border:2px solid #EBEBEB;
	margin-top: 80px;
}

.about-iamplay p{
	text-align: justify;
}

.service {
	text-align: center;
}

.service p{
	font-size: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

.service h2{
	width: 40%;
	background-color: white;
	font-size: 25px;
	margin: -15px auto;
}

.white{
	background-color: white;
}

.service {
	margin-top: 50px;
	margin-bottom: 40px;
}

.contact-us{
	margin-bottom: 40px;
}

.contact-us h2{
	text-align: center;
	color: #1da098;
	margin-bottom: 40px;
	font-size: 40px;
}

.contact-us p{
	font-weight: lighter;
	margin-bottom: 40px;
	font-size: 20px;
}

.contact-us input{
	width: 80%;
	margin:0 auto;
	font-weight: 300;
	font-style: italic;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EBEBEB;
	border: none;
}

.contact-us  textarea{
	width: 80%;
	margin:0 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: 300;
	height: 200px;
	font-style: italic;
	background-color: #EBEBEB;
	border: none;
}

.iplay-button {
	 background: #029a95; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#029a95,#087590); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#029a95,#087590); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#029a95,#087590); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#029a95,#087590); /* Standard syntax */
	color: white;
	border-radius: 10px;
	border-color: transparent;
	padding: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	margin:0 auto;
	margin-top: 30px;
}

.iplay-button:hover{
	color: #cddc29;
}

.coach-details h3{
	font-size: 30px;
	font-weight: bold;
}

.coach-details b{
	color: #333;
}

.coach-details h5{
	line-height: 20px;
	color: gray;
}

#sponsor{
	margin-left: 2px;
}

#sponsor img{
	float: left;
	margin-right: 10px;
}